body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
  background-color: black;
}
body nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
body nav ul li {
  list-style: none;
}
body nav ul li a {
  text-decoration: none;
}
body div#comics {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin-left: 20px;
}
body div#comics div.personagens {
  width: 76%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
}
body div#comics div.personagens div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body div#comics div.personagens div img {
  height: 200px;
  padding: 20px;
  border-radius: 26px;
  margin-bottom: 0;
}
body div#comics div.personagens div text {
  color: white;
  padding: 0 20px;
}
body div#comics div.personagens:hover {
  cursor: pointer;
}
body div#comics div.personagens:hover img {
  padding: 0;
  height: 260px;
}
body div#comics div.personagens:hover text {
  display: none;
}

@media screen and (min-width: 610px) {
  body div#comics {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}
@media screen and (min-width: 768px) {
  body div#comics {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media screen and (min-width: 910px) {
  body div#comics {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
@media screen and (min-width: 1024px) {
  body div#comics {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
  }
}
@media screen and (min-width: 1440px) {
  body div#comics {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  }
}
